p {
    font-size: 15px;
    margin-left: 5px;
}

.comment-form {
  display: flex;
  flex-direction: row;
  margin-right: 40px;
  margin-left: 40px;
}

.comment-text {
  flex:1;
  margin-right: 20px;
}

#comment {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-right: 50px;
}
