.menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
}

.menu-item:hover {
    background-color: var(--bg-accent);
}

.icon-right {
    margin-left: auto;
}

.icon-left {
    margin-right: 10px;
}
