.botao {
    margin-bottom: 10px;
}

.profile-container {
  width: 80%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.show-profile{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.edit-profile{
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
