#login {
    color: #fff;
    background-color: #a4badb;


}

#form-login {

    padding: 20px;

    width: 500px;

    margin: 40px auto 0;
}

.TextField {
    margin-bottom: 10px;
}

form {

    display: flex;

    flex-direction: column;
}

.Button, .TextField{
    width: 100%;
}

