.body {
    display: flex;
}

.body .left-side {
    padding: 20px;
    background-color: aqua;
    min-height: 810px;
    height: 100%;
    width: 50%;
    max-width: 600px;
}

.body .right-side {
    padding: 20px;
    background-color: rgb(243, 169, 227);
    display: flex;
    justify-content: center;
    min-height: 810px;
    height: 100%;
    width: 50%;
}

h2 {
    font-size: 40;
}
