.menu {
    position: absolute;
    top: 58px; /* 2px abaixo da navtop (60px) */
    width: 300px;
    transform: translate(-45%);
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    padding: 1rem;
    z-index: 1;
}
